node_modules
public/*
!public/.gitkeep
.env
.env.test

package-lock.json
yarn.lock
yarn-error.log

/src/config/sentry.js
.wwebjs_auth
.wwebjs_cache


# Ignore test-related files
/coverage.data
/coverage/
